$box-action-btn-pad-vertical: 16px; 
$box-action-btn-pad-horizontal: 46px; 
$box-action-btn-radius: 6px;

.box-action {
    &__image-contanier {
        padding: 15% 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
	
    &__button {
		background-color: red;
		padding: $box-action-btn-pad-vertical $box-action-btn-pad-horizontal;
		border: 0;
		border-radius: $box-action-btn-radius;
		color: white; 
    }

    &__button-wrapper {
        position: relative;
    }

    &__button-color {
        position: absolute;
        height: 100%;
        width: 100%;
        background: red;
        z-index: -1;
    }
}
