@import '../pages/Home.scss';

$icon-size: 23px;
$padding-vertical-box-xs: 48px;
$padding-vertical-box-sm: 72px;
$padding-vertical-box-md: 60px;
$padding-vertical-box-lg: 52px;

.features {
    background-color: $primary;
	color: white;
	padding: $padding-vertical-box-xs 0;
    &__title {
        //padding-top: $icon-size;
        //padding-bottom: $icon-size/2;
	}
	&__list {
		padding-left: 28px;
	}
    &__item {
		margin-top: $icon-size;
    }
    &__icon {
        img {
            height: $icon-size;
        }
    }

    &__text {
        text-transform: uppercase;
		padding-left: 12px;
	}
	
	&__second-list-mt {
		margin-top: -$icon-size/2;
	}

	&__image {
		margin-top: 32px;
		text-align: center;
		img {
			width: 100%;
		}
	}
	
	@media screen and (min-width: $small-width) {
		padding: $padding-vertical-box-sm 0;
		&__title {
			margin-bottom: 55px;
		}
		&__list {
			padding-left: 0px;
		}
		&__list div:first-child {
			margin-top: 0px;
		}
		&__second-list-mt {
			margin-top: 0px;
		}
		&__image {
			img {
				width: 80%;
			}
		}
	}
	@media screen and (min-width: $medium-width) {
		padding: $padding-vertical-box-md 0;
		&__title {
			margin-bottom: 60px;
		}
	}
	@media screen and (min-width: $large-width) {
		padding-top: $padding-vertical-box-lg;
		padding-bottom: 120px;
		&__title {
			margin-bottom: 110px;
		}
		&__image {
			margin-top: 0px;
			img {
				width: 100%;
			}
		}
	}
	
}
