@import '../pages/variables';

.info {
    padding: 40px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__titleword {
        font-weight: 900;
        text-transform: uppercase;
    }

    p {
		text-transform: uppercase;
        &.has-border {
            border-left: 8px solid red;
            padding-left: 8px;
        }
    }
}

@media (min-width: $medium-width) {
	.info {
		padding: 70px 0px;
		&__titleword {
			text-align: center;
			font-size: 48px;
			line-height: 59px;
			white-space: nowrap;
		}	
	}	
}