@import '../pages/Home.scss';

$navbar-bg: black;
$navbar-img-width-small: 113px;
$navbar-img-height-small: 42px;
$navbar-img-width-large: 183px;
$navbar-img-height-large: 68px;


.navbar {
    background-color: $navbar-bg;

    &__img {
        width: $navbar-img-width-small;
        height: $navbar-img-height-small;
    }

    &__link {
        color: white !important;
        line-height: 19px;

        &--border {
            border: 3px solid #CA5A16;	
            border-radius: 48px;
        }
    }

    .btn {
        padding: 8px 20px;
    }
}

@media only screen and (min-width: $large-width) {
    .navbar {

        &__img {
            width: $navbar-img-width-large;
            height: $navbar-img-height-large;
        }

        .nav-item {
            padding-left: 15px;
            padding-right: 15px;
    
            &:first-child {
                padding-left: 0;
            }
    
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
