/* Breakpoints */
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extra-large-width: 1200px;

// Fluid Typography
$min-screen-size: 25rem; 	// 400px
$max-screen-size: 64rem;	// 1200px
$min-font-size: 1rem;	// ~14px
$max-font-size: 1.05rem;	// ~17px
$mod_1: 1.2; // mobile
$mod_2: 1.25; // desktop

/* Colors */
$primary: #CA5A16;
$black-color: #000000;
$secondary: #404040;

/* Fonts */
$font-family: 'Montserrat', sans-serif;
$title-font-family: 'Impact', sans-serif;

/* Buttons */
$btn-vertical-padding: 16px;
$btn-horizontal-padding: 44px; 

$cover-section-height: 75vh;
%full-height {
    height: $cover-section-height;
}
