@import './variables';
@import "node_modules/bootstrap/scss/bootstrap";


$mod_1: 1.125; // mobile
$mod_2: 1.250; // desktop

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            // font-size: calc( $min-font-size ~" + " unit($max-font-size - $min-font-size) ~" * ((100vw - " $min-vw ~") /" unit($max-vw - $min-vw) ~")" );
            }
            @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
            }
        }
    }
}

html, body { 
    // @include fluid-type($min-screen-size, $max-screen-size, $min-font-size, $max-font-size);
    margin: 0; 
    font-family: $font-family;
    font-weight: 400;
}

h1 {  
    // font-size: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$mod_1*1rem; 
    font-family: $title-font-family;
    @include fluid-type($min-screen-size, $max-screen-size, 2.986 * $min-font-size, 3.815 * $max-font-size);
}
h2 {  
    font-size: $mod_1*$mod_1*$mod_1 *$mod_1*$mod_1*1rem; 
    font-family: $title-font-family;
    @include fluid-type($min-screen-size, $max-screen-size, 2.488 * $min-font-size, 3.052 * $max-font-size);
}
h3 { 
    font-size: $mod_1*$mod_1*$mod_1*$mod_1*1rem;
    font-family: $title-font-family;
    @include fluid-type($min-screen-size, $max-screen-size, 1.728 * $min-font-size, 1.953 * $max-font-size);
}

h4 {
    font-size: $mod_1*$mod_1*$mod_1*1rem;
    font-family: $title-font-family;
    font-weight: 500;
    @include fluid-type($min-screen-size, $max-screen-size, 1.2 * $min-font-size, 1.25 * $max-font-size);
}

p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    @include fluid-type($min-screen-size, $max-screen-size, $min-font-size, $min-font-size);
}

.btn {
    font-family: $font-family;
    font-weight: 500;	
    line-height: 19px;
    padding: $btn-vertical-padding $btn-horizontal-padding;
}
