@import '../pages/_variables';

$card-icon-size: 90px;
$card-header-offset: -55px;
$card-lg-header-offset: -69px;
$card-padding: 24px;
$card-border-radius: 12px;
$card-title-margin-bottom: 20px;
$card-header-circle-padding: 10px;
$card-header-circle-border-padding: 6px;


.card {
    position: relative;
    margin-top: $card-icon-size / 2;
    color: $secondary;
    border-radius: $card-border-radius;

    &-title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: $card-title-margin-bottom;
    }

    &-header {
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: $card-header-offset;
        display: flex;
        align-self: center;
        /* Bootstrap overwrite start*/
        border-bottom: 0;
        background: transparent;
        /* Bootstrap overwrite end*/

        &__circle {
            border-radius: 50%;
            background: white;
            display: inline-block;
            padding: $card-header-circle-padding;
        }

        &__circle-border {
            border-radius: 50%;
            border: 5px solid $primary;
            padding: $card-header-circle-border-padding;
        }
    }

    &-body {
        margin-top: $card-icon-size;
        padding: 0 $card-padding $card-padding;
    }
    
    @media screen and (min-width: $large-width) {
        &-header {
            top: $card-lg-header-offset;
        }
    }
}
