@import '../pages/variables';


$coach-vertical-padding: 60px;
$coach-vertical-padding-large: 72px;
$coach-title-margin-bottom: 52px;
$coach-title-margin-bottom-large: 76px;
$coach-description-margin-bottom: 20px;

.coach {
    padding: $coach-vertical-padding 0px;


    &__title {
        margin-bottom: $coach-title-margin-bottom;
    }

    &__description-container {
        position: relative;
        margin-left: 15px;  // Bootstrap left spacing
        margin-bottom: $coach-description-margin-bottom;
        
        &--separator:after {
            content: '';
            position: absolute;
            top: -2.5%;
            left: -15px;
            width: 8px;
            height: 105%;
            background: $primary;
        }
    } 

    &__description-text {
            text-transform: uppercase;
    }
    
    &__image {
        width: 100%;
    }

    @media screen and (min-width: $large-width) {
        padding: $coach-vertical-padding-large 0;

        &__title {
            margin-bottom: $coach-title-margin-bottom-large;
        }	
    }
}
