@import '../pages/variables';

$cover-height: 75vh;
$cover-vertical-padding: 48px;
$cover-vertical-padding-sm: 80px;
$cover-background-y-position-large: 25%;

.cover {
    @extend %full-height;

    padding-top: $cover-vertical-padding;
    color: white;
    background-image: url('/static/images/jager-maipu-04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    &__subtitle {
        padding-top: 8px;
    }
    
	@media screen and (min-width: $small-width) {
		padding: $cover-vertical-padding-sm 0;
    }
    
    @media screen and (min-width: $large-width) {
		background-position-y: $cover-background-y-position-large;
    }
}