@import '../pages/Home.scss';

$icon-size: 23px;
$padding-vertical-box-xs: 48px;
$padding-vertical-box-sm: 72px;
$padding-vertical-box-md: 60px;
$padding-vertical-box-lg: 52px;
$features-title-padding-bottom: 36px;
$features-title-sm-padding-bottom: 56px;
$features-title-md-padding-bottom: 60px;
$features-title-lg-padding-bottom: 110px;
$features-item-padding-bottom: 20px;
$features-item-sm-padding-bottom: 40px;


.features {
    background-color: $primary;
	color: white;
	padding: $padding-vertical-box-xs 0;

    &__title {
		padding-bottom: $features-title-padding-bottom;
	}
	&__list {
		padding-left: 28px;
	}
    &__item {
		padding-bottom: $features-item-padding-bottom;
		&.mh64 {
			max-height: 64.9px;
		}
    }
    &__icon {
        img {
            height: $icon-size;
		}
		&.icon-wrapper {
			float: left;
			margin-right: 12px;
		}
    }

    &__text {
        text-transform: uppercase;
		padding-left: 12px;
		&.no-pl {
			padding-left: 0px;
		}
	}
	
	&__image {
		margin-top: 32px;
		text-align: center;
		img {
			width: 100%;
		}
	}
	
	@media screen and (min-width: $small-width) {
		padding: $padding-vertical-box-sm 0;
		&__title {
			padding-bottom: $features-title-sm-padding-bottom;
		}
		&__list {
			padding-left: 0px;
		}

		&__item {
			padding-bottom: $features-item-sm-padding-bottom;
		}

		&__image {
			img {
				width: 80%;
			}
		}
	}
	@media screen and (min-width: $medium-width) {
		padding: $padding-vertical-box-md 0;
		&__title {
			padding-bottom: $features-title-md-padding-bottom;
		}
	}
	@media screen and (min-width: $large-width) {
		padding-top: $padding-vertical-box-lg;
		padding-bottom: 120px;
		&__title {
			padding-bottom: $features-title-lg-padding-bottom;
		}
		&__image {
			margin-top: 0px;
			img {
				width: 100%;
			}
		}
	}
	
}
