@import '../pages/variables';

$info-vertical-padding: 60px;
$info--md-vertical-padding: 60px;


.info {
    padding: $info-vertical-padding 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__description {
        &-container {
            &--separator:after {
                content: '';
                position: absolute;
                top: -5%;
                left: 0;
                width: 8px;
                height: 110%;
                background: $primary;
            }
        }

        &-text {
            text-transform: uppercase;
        }
    }
}

@media (min-width: $medium-width) {
	.info {
        padding: $info-vertical-padding 0px;
    
	}	
}
