@import '../pages/_variables';

$services-vertical-padding: 60px;
$services-title-padding-bottom: 32px;
$services-title-padding-bottom-md: 72px;
$services-accordion-image-size: 40px;


.services {
	background: $primary;
	color: white;
	padding: $services-vertical-padding 0;

	&__title {
		padding-bottom: $services-title-padding-bottom;
		/* Bootstrap overwrite start */
		margin-bottom: 0;
		/* Bootstrap overwrite end */
	}

	&__accordion-item {
		padding-bottom: 4px;
	}

	&__accordion-heading {
		border-radius: 4px;
		height: 64px;
		background: white;
		color: $secondary;
	}

	&__accordion-heading-icon {
		width: $services-accordion-image-size;
		height: $services-accordion-image-size;
		margin-right: 16px;
	}

	&__accordion-heading-image {
		width: $services-accordion-image-size;
		height: $services-accordion-image-size;
	}


	&__accordion-item-button {
		padding: 0 24px;
		height: 100%;
	}

	&__accordion-content {
		background: white;
		opacity: 0.65;
		border-radius: 0 0 4px 4px;
		color: $secondary;
		justify-content: center;
		padding: 16px 0;
		margin-top: -2px;
	}

	@media screen and (min-width: $medium-width) {
		&__title {
			padding-bottom: $services-title-padding-bottom-md;
		}
	}
}
