$info-vertical-padding: 16px;
$info-image-margin-right: 16px;
$info-image-margin-bottom: 16px;


.info {
	padding: $info-vertical-padding 0;
}

/* Using SCSS variables to store breakpoints */
@media (min-width: $large-width) {
    .info {
        &__image {
            float: left;
			margin-right: $info-image-margin-right;
			margin-bottom: $info-image-margin-bottom;
        }
    } 
}
