$breakpoint-three-images: 480px;

.pictures {

	&__primary-image {
        width: 100%;
        padding-top: 75%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &-container {
            width: 70%;
            margin: 4% auto;
        }
    }
    
    &__slider-arrow {
        z-index: 1000;
        padding: 5% 0;
    }

    &__arrow-icon {
        border: 1px solid black;
        padding: 0 8%;
        border-radius: 50%;
        background-color: black;
        color: white;
        font-size: 3em;
    }

    &__container-images {
        transition: all 1s;
        height: 100%;
    }

    &__small-images {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 1%;
    }

    &__slider-container {
        z-index: 900;
        overflow: hidden;
    }

}
/* Using SCSS variables to store breakpoints */
@media (min-width: $breakpoint-three-images) {
    .pictures {
        &__slider-arrow {
            padding: 9% 0;
        }
    } 
}
