/* Breakpoints */
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extra-large-width: 1200px;

// Fluid Typography
$min-screen-size: 25rem; 	// 400px
$max-screen-size: 64rem;	// 1200px
$min-font-size: 0.75rem;	// 12px
$max-font-size: 1.1rem;		// ~18px
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

/* Colors */
$primary: #CA5A16;
$black-color: #000000;
$secondary: #404040;

/* Fonts */
$font-family: 'Montserrat', sans-serif;

/* Navbar */
$navbar-bg: black;
$navbar-max-height: 110px;
