@import './cover';
@import './services';
@import './info';
@import './team';
@import './footer';
@import './pictures';
@import './variables';

$navbar-bg: black;
$navbar-max-height: 110px;


body { 
    margin: 0; 
}

.navbar {
    max-height: $navbar-max-height;
    margin-bottom: 50px;
    background-color: $navbar-bg;

    &__img {
        width: 89px;
        height: 29px;
    }
}

.underline-effect {
    position: relative;
    font-size: 1.5em;
    text-shadow: -1px 2px white;

    &:before {
        content: '';
        position: absolute;
        width: 150%;
        height: 50%;
        background-color: $primary;
        z-index: -1;
        bottom: 0;
        left: -25%;
    }
}
@media only screen and (min-width: $medium-width) {
    .navbar {
        &__img {
            width: 320px;
            height: 120px;
            position: relative;
            top: 50px;
        }
    }
}
